.container {
  position: relative;
  overflow-x: hidden;
}

.columna1 {
  position: absolute;
  width: 250px;
  height: 100vh;
  background: yellow;
  left: 0;
  top: 0;
  transform: translateX(-250px);
  transition: transform 0.3s ease;
  z-index: 2;
}

.columna1.open {
  transform: translateX(0);
}

.columna2 {
  width: 100%;
  height: 100vh;
  background: pink;
  padding: 20px;
}

@media (min-width: 600px) {
  .container {
    display: flex;
  }

  .columna1 {
    transform: translateX(0);
    position: relative;
  }

  .columna2 {
    width: calc(100% - 250px);
  }
}
