body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.contenedor {
    display: flex;
    align-items: baseline;
    gap: 20px;
    height: 200px;
}

.item {
    width: 80px;
    height: 80px;
    color: white;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;  
    line-height: 80px;  
}


.rojo { background: #e74c3c; font-size: 5rem; }
.azul { background: #3498db; font-size: 10rem; }
.verde { background: #2ecc71; font-size: 3rem; }
.naranja { background: #e67e22; font-size: 8rem; }
