/* Reset básico para que los porcentajes funcionen perfecto */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mostly Fluid */
.container {
    display: flex;
    flex-flow: row wrap;
}

/* Estado inicial: Móvil (1 columna) */
.columna1,
.columna2,
.columna3,
.columna4,
.columna5 {
    width: 100%;
    padding: 20px;
}

/* Tablet: De 600px en adelante */
@media (min-width: 600px) {
    .columna2,
    .columna3,
    .columna4,
    .columna5 {
        width: 50%;
    }
}

/* Escritorio: De 800px en adelante */
@media (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto; /* Centra el contenedor */
    }

    .columna1 {
        width: 60%;
    }

    .columna2 {
        width: 40%;
    }

    .columna3,
    .columna4,
    .columna5 {
        width: 33.33%;
    }
}